<!DOCTYPE html>
<html>
    <head>
        <title>FakerNet Index</title>
        <link rel="stylesheet" href="static/mini-default.min.css">
        <style>

        </style>
    </head>
    <body>
        <header>
            <a href="/" class="logo">FakerNet v{{ version }}</a>
            <a href="/status" class="button">Status</a>
            <a href="/run" class="button">Run</a>
            <a href="/apidoc/index.html" class="button">API Docs</a>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <ul>
                        <li><a href="/status">Status</a></li>
                        <li><a href="/run">Run Modules</a></li>
                        <li><a href="/apidoc/index.html">Local API Documentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>