<!DOCTYPE html>
<html>
    <head>
        <title>FakerNet Status Page</title>
        <link rel="stylesheet" href="static/mini-default.min.css">
        <style>

        </style>
    </head>
    <body>
        <header>
            <div class="logo">FakerNet v{{ version }}</div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    hi
                </div>  
                <div class="col-sm-7">
                    <h2 id="system_name">&nbsp;</h2>
                    <h3>CPU Usage</h3>
                    <progress id="cpu_percent" value="0" max="100"></progress>
                    <h3>Memory Usage <span id="mem_details"></span></h3>
                    <progress id="mem_percent" value="0" max="100"></progress>
                    <h3>Disk Usage <span id="disk_details"></span></h3>
                    <progress id="disk_percent" value="0" max="100"></progress>
                </div>
            </div>
        </div>
        <script>

            function bytes_to_gb(value) {
                return ((( value  / 1024.0) / 1024) / 1024).toFixed(2);
            }

            function update_system_info() {
                const http = new XMLHttpRequest();
            

                http.onreadystatechange = (e) => {
                    if (http.readyState == 4) {
                        system_data = JSON.parse(http.responseText); 

                        document.getElementById("system_name").textContent = system_data['system'];
                        document.getElementById("cpu_percent").setAttribute("value", system_data['cpu_percent']);
                        if (system_data['cpu_percent'] < 60.0) {
                            document.getElementById("cpu_percent").setAttribute("class", 'tertiary');
                        } else {
                            document.getElementById("cpu_percent").setAttribute("class", 'secondary');
                        }

                        var total_mem_gb = bytes_to_gb(system_data['memory_total']);
                        var used_mem_gb = bytes_to_gb(system_data['memory_used'])
                        document.getElementById("mem_details").textContent = used_mem_gb + " GB/" + total_mem_gb + " GB";


                        var mem_percent = (((system_data['memory_used']+0.0) / system_data['memory_total']) * 100.0 ).toFixed(2);
                        document.getElementById("mem_percent").setAttribute("value", mem_percent);
                        if (mem_percent < 75.0) {
                            document.getElementById("mem_percent").setAttribute("class", 'tertiary');
                        } else {
                            document.getElementById("mem_percent").setAttribute("class", 'secondary');
                        }

                        var disk_total = bytes_to_gb(system_data['disk_total']);
                        var disk_used = bytes_to_gb(system_data['disk_used']);
                        var disk_percent = (((system_data['disk_used']+0.0) / system_data['disk_total']) * 100.0 ).toFixed(2);
                        document.getElementById("disk_percent").setAttribute("value", disk_percent);
                        document.getElementById("disk_details").textContent = disk_used + " GB/" + disk_total + " GB";
                        if (disk_percent < 80.0) {
                            document.getElementById("disk_percent").setAttribute("class", 'tertiary');
                        } else {
                            document.getElementById("disk_percent").setAttribute("class", 'secondary');
                        }

                    }
                }

                http.open("GET", 'system_data');
                http.send();
            }

            update_system_info();
            setInterval(update_system_info, 3000);
            
        </script>
    </body>
</html>