<!DOCTYPE html>
<html>
    <head>
        <title>FakerNet Status Page</title>
        <link rel="stylesheet" href="static/mini-default.min.css">
        <style>

        </style>
    </head>
    <body>
        <header>
            <a href="/" class="logo">FakerNet v{{ version }}</a>
            <a href="/status" class="button">Status</a>
            <a href="/run" class="button">Run</a>
            <a href="/apidoc/index.html" class="button">API Docs</a>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2 id="system_name">&nbsp;</h2>
                    <h3>CPU Usage</h3>
                    <progress id="cpu_percent" value="0" max="100"></progress>
                    <h3>Memory Usage <span id="mem_details"></span></h3>
                    <progress id="mem_percent" value="0" max="100"></progress>
                    <h3>Disk Usage <span id="disk_details"></span></h3>
                    <progress id="disk_percent" value="0" max="100"></progress>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>ID</th>
                                <th>IP Address</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="system_list">

                        </tbody>
                    </table>
                </div>
            </div>  
            
        </div>
        <script src="static/status.js"></script>
    </body>
</html>