[Unit]
Description=FakerNet Server
Requires=docker.service lxd.service openvswitch-switch.service
After=network.target docker.service lxd.service openvswitch-switch.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=CURRENTUSER
WorkingDirectory=PWD/
ExecStart=PWD/fnserver
PrivateTmp=true

[Install]
WantedBy=multi-user.target
